<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.prathameshkesarkar.eyb">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".activities.MainActivity"
            android:label="EYB"
            android:theme="@style/ProfileTheme" />

        <activity
            android:name=".activities.RegistrationActivity"
            android:label="@string/app_name"
            android:theme="@style/LoginSignUpTheme">

        </activity>
        <activity
            android:name=".activities.StudentModuleActivity"
            android:theme="@style/AppTheme" >

        </activity>
        <activity
            android:name=".activities.OnBoardingActivity"
            android:label="@string/app_intro"
            android:theme="@style/AppIntroTheme">

        </activity>

        <activity
            android:name=".activities.QuestionActivity"
            android:label="EYB"
            android:theme="@style/ProfileTheme" />

        <activity
            android:name=".activities.ActivityPersonalInfo"
            android:label="EYB"
            android:theme="@style/ProfileTheme" />
        <activity
            android:name=".activities.CheckActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
